<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Information</title>
</head>
<body>

<table th:object="${user}">
    <tr>
        <td>Name</td>
        <td th:text="*{name}"></td>
    </tr>
    <tr>
        <td>Email</td>
        <td th:text="*{email}"></td>
    </tr>
    <tr>
        <td>Age</td>
        <td th:text="*{age}"></td>
    </tr>
    <tr>
        <td>Account</td>
        <td th:text="*{account}"></td>
    </tr>
</table>
</body>
</html>